nav.navbar.bg-dark.navbar-expand
	.container
		a.text-light.navbar-brand(href='/') Homepage
			if user
				ul.navbar-nav.ml-auto
					li.nav-item
						a.btn.btn-primary.ml-1(href='/', role='button')=`Hello ${user.userName}`
					li.nav-item
						a.btn.btn-success.ml-1(href='/aaaaa' role='button') Log out
			else
				ul.navbar-nav.ml-auto
					li.nav-item
							a.btn.btn-primary.ml-1(href='/signup', role='button') Sign up
					li.nav-item
							a.btn.btn-success.ml-1(href='/login', role='button') Log in
		