.header
    .container
        button.btn.btn-outline-secondary(type='button')
            a.nav-link(href='/login') Login
        button.btn.btn-outline-success(type='button') 
            a.nav-link(href='/signup') Signup
