extends base

block content
	.container
		.row
			form.col-5
				small#error_signup.form-text.text-danger
				.form-group
					label Email address
					input#email.form-control(type='email' name='email')
					small#emailError.form-text.text-danger
				.form-group
					label Username
					input#username.form-control(type='text' name='username')
					small#usernameError.form-text.text-danger
				.form-group
					labe Password
					input#password.form-control(type='password' name='password')
					small#passwordError.form-text.text-danger
				.form-group
					labe Confirm password
					input#confirmpass.form-control(type='password')
					small#confirmpassError.form-text.text-danger
				button#submit_login.btn.btn-primary(type='button') Submit
			
block script
	script(src='/script/signup.js')